.leftbox-infomation {
    text-align: center;
    border: 2px dashed var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    .leftbox-avatar {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .avatar {
            border: 2px solid var(--primary-color);
            border-radius: 50%;
        }
        .camera-icon {
            position: absolute;
            border-radius: 50%;
            bottom: 0px;
            right: 5px;
            cursor: pointer;
        }
    }
    .leftbox-name {
        margin-top: 10px;
        margin-bottom: 6px;
        font-size: 18px;
        font-weight: 400;
        color: var(--primary-color);
        cursor: pointer;
    }
    .leftbox-username {
        font-size: 13px;
        color: #555;
    }

}

.leftbox-menubar {
    margin-top: 40px;
    .menu-item {
        display: flex;
        align-items: center;
        padding: 12px;
        margin: 4px 2px;
        border-radius: 6px;
        background-color: var(--bg-color);
        color: #555;
        transition: .5 linear;
        &:hover,
        &.active {
            color: var(--primary-color);
            background-color: var(--bg-color-active);
        }
        .menu-name {
            font-size: 16px;
            font-weight: 500;
        }
        .menu-icon {
            font-size: 22px;
            width: 50px;
            display: inline-flex;
            align-items: center;
            justify-content: center;    
        }
    }
}
.header-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    .header-title {
        font-size: 20px;
        font-weight: 400;
        color: var(--primary-color);
        text-transform: uppercase;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            left: 10px;
            right: 10px;
            border-top: 1px dashed var(--primary-color);
            bottom: -2px;
        }
    }
}

.body-wrapper {
    .form-input {
        padding: 10px !important;
        &:disabled{
            color: #555 !important;
        }
    }
    .button-box {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .form-btn {
            border-radius: 8px;
            padding: 8px 12px;
            color: #fff;
            cursor: pointer;
            font-weight: 500;
        }
        .btn-active-form {
            background-color: var(--primary-color);
            &:hover {
                background-color: var(--primary-color-active);
            }
        }
    }
}

.upload-avatar-wapper {
    .avatar-upload {
        width: 250px;
        text-align: center;
        .upload-action {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 20px;
            gap: 10px;
        }
        .upload-action-btn {
            width: 70px;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.upload-avt-title {
    background-color: #f4f5f7;
    text-align: center;
    padding: 8px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

