.table-custom::-webkit-scrollbar{
    width: 5px;
}
.table-custom::-webkit-scrollbar-track{
    background-color: #fafafa;
}
.table-custom::-webkit-scrollbar-thumb{
    background-image: linear-gradient(-45deg, #d8d1c2, #f5cd93);
    // background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
    border-radius: 50px;
}